<%- include('Head') %>
<%- include('Navigation') %>
<%- include('Header') %>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Review ID</th>
                    <th>Reviewer Name</th>
                    <th>Review Text</th>
                    <th>Rating</th>
                    <th>Product ID</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for (let iCount = 0; iCount < reviewData.length; iCount++) { %>
                    <tr>
                        <td><%=reviewData[iCount].review_id%></td>
                        <td><%=reviewData[iCount].reviewer_name%></td>
                        <td><%=reviewData[iCount].review_text%></td>
                        <td><%=reviewData[iCount].rating%></td>
                        <td><%=reviewData[iCount].product_id%></td>
                        <td>
                            <!-- You can add buttons or links for actions like editing or deleting the review -->
                            <a href="edit-review/<%=reviewData[iCount].review_id%>" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</section>
<%- include('Footer') %>
