<%- include('Head') %>
<%- include('Navigation') %>
<%- include('Header') %>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <form action="/editReview" method="POST">
              <input type="hidden" id="review_id" name="review_id" required
              value="<%=reviewData[0].review_id %>">
              <label for="reviewer_name">Reviewer Name:</label>
              <input type="text" id="reviewer_name" name="reviewer_name" required
               value="<%=reviewData[0].reviewer_name %>">
              <br><br>
              <label for="review_text">Review Text:</label>
              <textarea type="text" maxlength="250" id="review_text" class="customText" 
              rows="4" cols="50" name="review_text" required
              value="<%=reviewData[0].review_text %>"></textarea>
              <br><br>
            <button type="submit">Save</button>
          </form> 
    </div>
</section>
<%- include('Footer') %>