<%- include('Head') %> <%- include('Navigation') %> <%- include('Header') %>
<!-- Section-->
<!-- this page dynamically shows images based on what product the user clicks on from the catalog -->
<body class="bg-gradient-primary">
    <div style="margin: 100px" class="container-custom">
        <div class="left-column-custom" style="padding-right: 50px">
            <img
                src="<%= productData[0].img_path %>"
                class="active"
                style="border-radius: 10px"
                alt="product"
            />
        </div>
        <div class="right-column-custom" style="padding-top: 0px">
            <div class="product-description">
                <h3>Hand-made</h3>
                <h1><%= productData[0].product_name %></h1>
                <p><%= productData[0].product_desc %></p>
            </div>
            <div class="product-price">
                <span style="font-size: 75px"
                    >$<%= productData[0].product_price %>.00</span
                >
                <br /><br />
                <!-- button for leaving a review on the product -->
                <a href="leaveReview/<%=productData[0].product_id%>">
                    <button class="button" type="button">Leave a Review</button>
                </a>
            </div>
        </div>
    </div>
    <!-- displays all reviews associated with that product -->
    <div class="container-custom">
        <ul style="list-style-type: none">
            <li>
                <h2>Average: <%= prodReviewsAvg %> ★</h2>
                <br />
            </li>
            <li>
                <h1><b>Reviews</b></h1>
            </li>
            <% for (let iCount = 0; iCount < productReviews.length; iCount++){%>
            <li class="col mb-5">
                <h2>Reviewer: <%= productReviews[iCount].reviewer_name %></h2>
                <h2>Rating: <%= productReviews[iCount].rating %> ★</h2>
                <p><%= productReviews[iCount].review_text %></p>
                <p>----------------------------------------------------</p>
            </li>
            <%}%>
        </ul>
    </div>
</body>
<%- include('Footer') %>
